.btn {
  @include colors($pointdark, $pointyellow);
  border: none;
  padding: 15px;
  font-size: 1.2em;
  transition: 0.5s ease;
  &:hover{
    @include colors($pointyellow, $pointblue);
  }
  position: fixed;
  right: 0px;
  bottom: 0px;
}

.btn2 {
  right: 120px;
}

.section2 {
  background-color: white;
}

.ng-hide-add         { animation:0.5s slideOutRight ease; }

/* when showing the picture */
.ng-hide-remove      { animation:0.5s slideInRight ease; }


/* Animations css */

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}


@-webkit-keyframes slideOutRight {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes slideOutRight {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

.slideOutRight {
  -webkit-animation-name: slideOutRight;
  animation-name: slideOutRight;
}
