
.btn {
  @include colors($pointdark, $pointyellow);
  border: none;
  padding: 15px;
  font-size: 1.2em;
  transition: 0.5s ease;
  &:hover{
    @include colors($pointyellow, $pointdark);
  }
  position: fixed;
  right: 0px;
  bottom: 0px;
}

.btn2 {
  right: 120px;
}



.demoButton {
  @include colors($pointyellow, $pointdark);
  margin-bottom: 15px;
  display: block;
  border: none;
  padding: 15px;
  font-size: 1.2em;
  transition: 0.5s ease;
  border-radius: 15px;
  border: 1px solid $pointyellow;
  &:focus {
    outline:0;
  }
  &:hover{
    @include colors($pointdark, $pointyellow);
    // border: 1px solid $pointdark
  }
}

.dashButton {
    @include colors($pointdark, $pointyellow);
  border-radius: 15px;
  border: 1px solid $pointyellow;
  border: none;
  padding: 15px;
  float: right;
  &:focus {
    outline:0;
  }
  &:hover{
      @include colors($pointyellow, $pointdark);

    border: 1px solid $pointdark
  }
}

.section2 {
  background-color: white;
}

.intro {
  height: 90vh;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/b/bb/Alternative_Energies.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.introP {
  border-radius: 15px;
  width: 60%;
  text-align: center;
  display: flex;

  align-items: center;
  height: auto;
  margin-bottom: 40px;
}

.chart {
  display: block;
  background-color: $pointyellow;
}

.mainForm {
  position: fixed;
  top: 100px;
  right: 0px;
  background-color: #d9e8a5;
  padding: 20px;
  color: #112834;
  font-weight: 600;
}

.demoForm {
  background-color: rgba($pointdark, 0.6);
  margin-left: 20px;
  padding: 20px;
  width: 50vw;
}

label {
  margin-bottom:10px;
  display: block;
}
input {
  display: block;
  margin-bottom: 10px;
}
select {
  display: block;
  margin-bottom: 10px;
  margin: 0 auto;
}

.alignCenter {
  text-align: center;
}

.demoSection {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/b/bb/Alternative_Energies.jpg');
  background-size: cover;
  height: 90vh;
  h1 {
    margin: 0;
    padding: 20px
  }
}

.demoCompany {
  border: none;
  border-radius: 5px;
  width: 25vw;
}

.demoWeight {
  display: inline;
  border: none;
  border-radius: 5px;
  width: 80px;
}

.demoYear {
  width: 173px;
  border: 1px solid #d9e8a5;
  background: transparent;
  color: white;
}

.demoFormAlign {
  display: inline-block;
  margin-left: 10px;
}

.green {
  color: green;
  margin: 0;
}

.red {
  color: red;
  margin: 0;
}

.hideButton {
  opacity: 0.65;
  cursor: not-allowed;
}

#loadGif {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dashFormAlign {
  display: flex;
  justify-content: center;
}

.noDataDiv {
  background-color: rgba(17, 40, 52, 0.6);
  padding: 0px 20px;
}

.tt-menu {
background-color: #d9e8a5;
color: $pointdark;
border-radius: 5px;
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

// ANIMATIONS //

.ng-hide-add         { animation:0.5s slideOutRight ease; }

/* when showing the picture */
.ng-hide-remove      { animation:0.5s slideInRight ease; }


/* Animations css */

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}


@-webkit-keyframes slideOutRight {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes slideOutRight {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

.slideOutRight {
  -webkit-animation-name: slideOutRight;
  animation-name: slideOutRight;
}
