@import "normalize";
@import "mixins";
@import "colors";
@import "font";
@import "classes";

a {
    text-decoration: none;
}

header {
  color: $pointlightblue;
  display: flex;
  align-items: center;
  background-color: #d9e8a5;
  min-height: 10%;
  h1 {
    font-size: 1.5em;
    display: inline;
    font-family: 'Josefin Slab', serif;
    color: $pointdark;
  }

  .logo {
    width: 45px;
    margin: 0px 20px;
    }
}

body {
  background-color: $pointdark;
  // overflow: hidden;
}

main {
  color: $pointyellow;
  font-family: 'Raleway','Roboto', sans-serif;
  p {
    color: $pointdark;
    font-size: 1.1em;

  }
}


section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
