@import "normalize";
@import "mixins";
@import "colors";
@import "font";
@import "classes";

header {
  color: $pointlightblue;
  display: flex;
  align-items: center;
  background-color: #d9e8a5;
  height: 10%;
  h1 {
    font-size: 1.5em;
    display: inline;
    font-family: 'Josefin Slab', serif;
    color: $pointdark;
    text-shadow: 1px 1px 10px #183442;
  }
  .logo {
    width: 45px;
    margin: 0px 20px;
    }
}

body {
  background-color: $pointdark;
  // overflow: hidden;
}

main {
  color: $pointyellow;
  font-family: 'Raleway','Roboto', sans-serif;
  p {
    width: 50%;
    text-align: center;
  }
  form {
    position: fixed;
    top: 100px;
    right: 0px;
    background-color: #d9e8a5;
    padding: 20px;
    color: #112834;
    font-weight: 600;
    label {
      margin-top: 10px;
      display: block;
    }
    input {
      display: block;
      margin-bottom: 10px;
    }
  }
}

.intro {
  height: 90vh;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/b/bb/Alternative_Energies.jpg');
  background-size: cover;
}

section {
  display: flex;
  justify-content: center;
  height: 100vh;
}
