@import "normalize";
@import "mixins";
@import "colors";
@import "font";
@import "classes";

a {
    text-decoration: none;
}

header {
  color: $pointlightblue;
  display: flex;
  align-items: center;
  background-color: #324754;
  height: 10vh;

  .logo {
    width: auto;
    height: 100%;
    }
}

body {
  background-color: $pointdark;
}

main {
  color: $pointyellow;
  font-family: 'Calibri, 'Gill Sans', Arial, Verdana, sans-serif;'
  p {
    color: $pointdark;
  }
  ul {
    font-size: 14px;
  }
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 90vh;
}
