<section class='demoSection'>
  <h1> Investor Dashboard </h1>

<!-- FORM FOR GRAPH INFO -->

<div ng-controller='TypeaheadController' >
  <img src='images/formLoadSmall.gif' id='loadGif' ng-if='!exampleOptions' alt='loading'>

  <form ng-if='exampleOptions' class='demoForm' name='dashForm' ng-submit='formSubmit(form)'>
    <div class='dashFormAlign formInstruction'>
      <ul>
        <li> Select a start year from the list </li>
        <li> Type in up to 5 companies to create a portfolio </li>
        <li> Type in the percentage of your portfolio for each company </li>
      </ul>
    </div>
    <article class='dashFormAlign'>
      <div>
        <label class='alignCenter' for='year'> Select Start Year </label>
        <select ng-model='form.year' class='demoYear' required ng-options='option.value as option.name for option in yearOptions'></select>
        <div class="demoFormAlign">
          <div>
            <label for='company1'> Company</label>
            <input class="sfTypeahead demoCompany" options="exampleOptions" datasets="exampleData" ng-model='form.data[0]' type='text' required>
          </div>
          <div>
            <label for='weight1'> Weight %</label>
            <input ng-model='form.weight[1]' class='demoWeight' type='number'>
          </div>
        </div>
        <div class="demoFormAlign">
          <div>
            <label for='company2'> Company</label>
            <input class="sfTypeahead demoCompany" options="exampleOptions" datasets="exampleData" ng-model='form.data[1]' type='text'>
          </div>
          <div>
            <label for='weight2'> Weight %</label>
            <input ng-model='form.weight[2]' class='demoWeight' type='number'>
          </div>
        </div>
        <div class="demoFormAlign">
          <div>
            <label for='company3'> Company</label>
            <input class="sfTypeahead demoCompany" options="exampleOptions" datasets="exampleData" ng-model='form.data[2]' type='text'>
          </div>
          <div>
            <label for='weight3'> Weight %</label>
            <input ng-model='form.weight[3]' class='demoWeight' type='number'>
          </div>
        </div>
        <div  class="demoFormAlign">
          <div>
            <label for='company4'> Company</label>
            <input class="sfTypeahead demoCompany" options="exampleOptions" datasets="exampleData" ng-model='form.data[3]' type='text'>
          </div>
          <div>
            <label for='weight4'> Weight</label>
            <input ng-model='form.weight[4]' class='demoWeight' type='number'>
          </div>
        </div>
        <div  class="demoFormAlign">
          <div>
            <label for='company5'> Company</label>
            <input class="sfTypeahead demoCompany" options="exampleOptions" datasets="exampleData" ng-model='form.data[4]' type='text'>
          </div>
          <div>
            <label for='weight5'> Weight %</label>
            <input ng-model='form.weight[5]' class='demoWeight' type='number'>
          </div>
        </div>
        <br>
        <button
         class='dashButton'
         ng-class='{hideButton: form.weight[1] + form.weight[2] + form.weight[3] + form.weight[4] + form.weight[5] !== 100}'
         type='submit'> Submit </button>
        <h6> *weights must equal 100% </h6>
      </div>
    </article>
  </form>

</div>
<div ng-if='portfolio.length > 0' class='noDataDiv'>
  <h3> Data not available for: </h3>
  <h4 ng-repeat='company in portfolio'>
  {{company.key}}
  </h4>
</div>

</section>

<section id='graph' class='chart'>
  <nvd3 options='options3' data='scienceData'></nvd3>
</section>
