
<section class='demoSection'>
  <h1> Investors Dashboard </h1>

<!-- FORM FOR GRAPH INFO -->

<form class='demoForm' ng-submit='formSubmit(form)'>
  <label for='year'> Starting Year: </label>
  <select ng-model='form.year' class='demoYear'>
    <option value='2007'> 2007 </option>
    <option value='2008'> 2008 </option>
    <option value='2009'> 2009 </option>
    <option value='2010'> 2010 </option>
  </select>
    <div>
    <div class="demoFormAlign">
      <label for='company1'> Company 1</label>
      <input ng-model='form.data[0]' class='demoCompany' type='text'>
    </div>
    <div class="demoFormAlign">
      <label for='weight1'> Weight</label>
      <input ng-model='form.weight[1]' class='demoWeight' type='number'>
    </div>
    <div>
    <div class="demoFormAlign">
      <label for='company2'> Company 2</label>
      <input ng-model='form.data[1]' class='demoCompany' type='text'>
    </div>
    <div class="demoFormAlign">
      <label for='weight2'> Weight</label>
      <input ng-model='form.weight[2]' class='demoWeight' type='number'>
    </div>
    <div>
    <div class="demoFormAlign">
      <label for='company3'> Company 3</label>
      <input ng-model='form.data[2]' class='demoCompany' type='text'>
    </div>
    <div class="demoFormAlign">
      <label for='weight3'> Weight</label>
      <input ng-model='form.weight[3]' class='demoWeight' type='number'>
    </div>
    <div>
    <div class="demoFormAlign">
      <label for='company4'> Company 4</label>
      <input ng-model='form.data[3]' class='demoCompany' type='text'>
    </div>
    <div class="demoFormAlign">
      <label for='weight4'> Weight</label>
      <input ng-model='form.weight[4]' class='demoWeight' type='number'>
    </div>
    <div>
    <div class="demoFormAlign">
      <label for='company5'> Company 5</label>
      <input ng-model='form.data[4]' class='demoCompany' type='text'>
    </div>
    <div class="demoFormAlign">
      <label for='weight5'> Weight</label>
      <input ng-model='form.weight[5]' class='demoWeight' type='number'>
    </div>
<button type='submit'> Submit </button>
</form>

<br>


<button ng-click='formSubmit()'> Get Data</button>
<h2>

{{form.weight}}
</h2>
</section>
<!-- <section class='chart'>
  <nvd3 options="options" data="data"></nvd3>
</section>

<section class='chart'>
  <nvd3 options='options2' data='data2'></nvd3>
</section> -->

<section class='chart'>
  <nvd3 options='options3' data='scienceData'></nvd3>
</section>
